<!--The content below is only a placeholder and can be replaced.-->
<div  class="root" (keypress)="resetGame()">
  <div>
    {{ title }}
  </div>
  <div *ngIf="players && winner === winnerType.Empty" class="message">
    {{players[currPlayerIdx]}}'s turn
  </div>
  <div *ngIf="players && winner !== winnerType.Empty">
    <div *ngIf="winner === winnerType.Player1 || winner === winnerType.Player2"
         class="message">{{players[winner]}} wins!</div>
    <div *ngIf="winner === winnerType.Draw" class="message">No Winner</div>
    <div class="reset">Press any key to start a new game</div>
  </div>

  <div *ngIf="players" class="board-container">
    <app-square *ngFor="let square of board; let idx = index" [value]="square"
                (click)="setSquareValue(idx)" [ngClass]="{pointer: square === squareValueType.Empty}"
    [isWinningSequence]="winningSequence.includes(idx)"
    ></app-square>
  </div>
</div>
